:root {
    --color: #e9311a;

    --text_color:var(--color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.button {
    padding: 5px 15px;
    color: var(--text_color);
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
    border: 1px solid var(--text_color)
}

.button:hover {
    box-shadow:  0px 0px 5px#e9311a;
}